body {
  margin: 0;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #b6c2e5;
  background: linear-gradient(
    0deg,
    rgba(182, 194, 229, 1) 0%,
    rgba(230, 230, 250, 1) 100%
  );
  background-image: url(../../../public/images/background.jpg);
  background-size: cover;
}

body::after {
  content: "";
  background: linear-gradient(
    0deg,
    rgba(182, 194, 229, 1) 0%,
    rgba(230, 230, 250, 1) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
}

#split {
  display: flex;
  flex-grow: 1;
  height: 1em;
}

#page {
  /* opacity: 0; */
  width: 90vw;
  max-width: 85em;
  height: 94vh;
  border-radius: 0.6em;
  box-shadow: 0 0 0.5em #000000b8;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: #f8f8f8;
  background-color: #01152a;
}

#content {
  box-shadow: inset black 6px 6px 8px -7px;
  background-color: #f8f8f8;
  color: black;
  border-radius: 0.6em 0 0 0;
  flex-grow: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

.hidden {
  display: none !important;
}

.invert {
  filter: invert(1);
}

.pointer {
  cursor: pointer !important;
}

#timeLeft {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1em;
}

#tables {
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding-top: 1em;
}

#pageButton {
  cursor: pointer;
  background-color: #e6e6fa;
  border-radius: 0.5em;
  justify-content: center;
  min-width: 8em;
  padding: 0.7em 1.3em 0.7em 1em;
  box-shadow: 0 0 0.5em #979797;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.9em 1.5em;
}

#pageButton:hover {
  background-color: #f2f4fd;
}

#pageButtonContainer {
  position: fixed;
  left: 0;
  bottom: 5vh;
  width: 95vw;
  max-width: calc(50vw + 42.5em);
  display: flex;
  justify-content: flex-end;
  z-index: 20;
  height: 0;
  align-items: end;
}

#split,
#header,
#links {
  border-radius: 0 0 0 0.5em;
}
