/* #header {
  background-color: aqua;
}
.table {
  background-color: azure;  
}
#content {
  background-color: salmon;
} */

body {
  margin: 0;
  user-select: none;
}

#page {
  background-color: #f8f8f8;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

#content {
  flex-grow: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.hidden {
  display: none !important;
}
