/* :root #page {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  border-radius: 0;
} */

/* Login Split */
#split {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#loginSplit {
  border-radius: 0.5em 0 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

#loginContainer {
  width: 15em;
  align-items: center;
}

.popupFields .formInputContainer {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1em;
  width: inherit;
}

#loginTitle {
  font-size: 1.2em;
  font-weight: bold;
}

#loginContainer img {
  filter: invert(1);
}

.inputLabel {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding-left: 0.2em;
}

input {
  background-color: #f8f8f8;
}

#loginContainer #loginButton {
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  margin-top: 0.3em;
  box-shadow: 0 0 0.5em -0.2em black;
  font-family: inherit;
  border-radius: 1.5em;
  height: 2em;
  width: 10em;
  background-color: #e6e6fa;
  color: black;
}

/* Splash Art Split */
#loginSplashConatiner {
  border-radius: 0.5em 0 0 0.5em;
  /* opacity: 0.9; */
}

#splashArt {
  border-radius: 0.5em 0 0 0.5em;
  width: inherit;
  height: 100%;
  background-image: url(../../../public/images/splashArt.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleContainer {
  background-color: #01152a88;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em 0 0 0.5em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

#titleContainer span {
  font-size: 3em;
}
