/* :root #page {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  border-radius: 0;
} */

/* Login Split */
#split {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#loginSplit {
  border-radius: 0.5em 0 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  min-width: 18em;
}

#loginContainer {
  width: 15em;
  align-items: center;
  font-size: 1.1em;
}

.popupFields .formInputContainer {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1em;
  width: inherit;
}

#loginTitle {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 15em;
  padding: 0 1em;
}

#loginContainer img {
  filter: invert(1);
}

.inputLabel {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding-left: 0.2em;
}

input {
  background-color: #f8f8f8;
}

#loginContainer #loginButton {
  border: none;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5em -0.2em black;
  font-family: inherit;
  border-radius: 1.5em;
  height: 2.2em;
  width: 6em;
  background-color: #6097b5;
  color: black;
  font-size: 1em;
}

#loginContainer #loginButton:hover {
  background-color: #67bae7;
}

#errorMessageContainer {
  width: 15em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7em;
  background-color: #b4766b;
  color: #222;
  padding: 0.5em;
  border-radius: 0.3em;
}

#errorImage {
  opacity: 0.6;
}

#errorMessage {
  font-size: 0.8em;
}

#closeErrorMessageButton {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#closeErrorMessageButton:hover {
  font-weight: bold;
}

/* Splash Art Split */
#loginSplashConatiner {
  border-radius: 0.5em 0 0 0.5em;
  /* opacity: 0.9; */
}

#splashArt {
  border-radius: 0.5em 0 0 0.5em;
  width: inherit;
  height: 100%;
  background-image: url(../../../public/images/splashArt.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleContainer {
  background-color: #01152a88;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em 0 0 0.5em;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.3em;
  font-size: 2em;
  padding: 1em 1em 0 1em;
}

#subtitle {
  padding-bottom: 6em;
}

#titleContainer span {
  font-size: 2em;
}

/* Mobile Styles */
@media only screen and (min-height: 450px) {
  /* Small devices */
  @media (max-width: 750px) {
    #titleContainer,
    #splashArt {
      border-radius: 0;
    }
    #loginSplashConatiner {
      min-height: 40vh;
    }
    #split {
      display: flex;
    }
    #titleContainer #subtitle {
      padding-bottom: 2em;
    }
    #loginSplit {
      flex-grow: 1;
    }
    #title img {
      width: 60px;
      height: 60px;
    }
  }
  @media (max-width: 850px) {
    #title {
      font-size: 1.5em;
    }
    #titleContainer #subtitle {
      font-size: 1.5em;
    }
  }
}
