/* Container */
#header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 15em;
  background-color: #364954;
  background-color: #122e49;
  color: #f8f8f8;
}

#header img {
  filter: invert(1);
}

/* Topper */
#user {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#topper {
  border-radius: 0.5em 0.5em 0 0;
  background-color: #2a4c70;
  background-color: #364954;
  background-color: #122e49;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3em;
  padding: 0.8em 2em 0.8em 0.8em;
  padding: 1em 2em 1em 1em;
}

#user span {
  font-weight: bold;
}

#tag {
  font-size: 1.5em;
  font-size: 1.7em;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

/* Links */
#links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-grow: 1;
  padding-top: 2em;
}

.navLink {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0 1em;
  color: inherit;
  text-decoration: none;
}

.navLink:hover {
  box-shadow: inset 0.3em 0 0 0 #819ae3;
}

/* Admin School Links */
#adminSchoolLinksContainer {
  display: flex;
  gap: 1em;
  flex-direction: column;
  padding: 0 1em;
  box-shadow: inset 0.3em 0 0 0 #819ae3;
  margin-top: 3em;
}

.adminPage #adminSchoolLinksContainer {
  /* box-shadow: none; */
}

#adminSchoolLinksHeader {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-weight: bold;
}
#adminSchoolLinksHeader span {
  /* font-size: 1.2em; */
}

#adminSchoolLinks {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
