
/* Container */
#header {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 15em;
}

/* School/User */
#user {
  display: flex;
  align-items: center;
  gap: .3em;
  padding: 1em;
}

#user span {
  font-size: 1.5em;
}

/* Links */
#links {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-grow: 1;
  padding-top: 4em;
}

.navLink {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: .3em;
  padding: 0 1em;
  color: inherit;
  text-decoration: none;
}

.navLink:hover {
  box-shadow: inset .3em 0 0 0 #819ae3;
}
