#popupContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000000bd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 50;
}

#popup {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  border-radius: 1em;
  position: relative;
  user-select: none;
  width: 20em;
  cursor: default;
  background-color: #f8f8f8;
}

#closePopupButton {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 0 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  border-radius: 0 1em 0 0.5em;
  width: 2em;
  height: 2em;
}

#closePopupButton:hover,
#popupContainer:hover #popup:not(:hover) #closePopupButton {
  background-color: #d6d6d6;
}

#popupHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#popupTitle {
  font-size: 2em;
  text-align: center;
}

/* Popup Content */

.popupFields {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.popupFields input,
.popupSelect {
  padding: 0.5em;
  border-radius: 0.5em;
  width: -webkit-fill-available;
  border: none;
  border: solid rgb(185, 185, 185) 1px;
}

.popupMessage {
  min-height: 1.5em;
  opacity: 0;
  color: #dc1515;
  font-size: 0.8em;
  padding: 0.2em 0.2em 0.5em 0.2em;
}

.popupMessage.active {
  opacity: 1;
}

.submitPopupButton {
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  outline: none;
  cursor: pointer;
  background-color: #d6d6d6;
  width: 5em;
}

.popupInputLabel {
  display: flex;
  align-items: center;
  gap: 0.2em;
  padding-left: 0.4em;
}

.popupButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.popupFields > div {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.popupFields input.error {
  border: 1px solid #921717;
}

/* Admin Events Popup */
#teamSizeRow,
#editTeamSizeContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}

#teamSizeRow > div,
#editTeamSizeContainer > div {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.sliderContainer {
  display: inline-block;
  height: 27.2px;
  position: relative;
  width: 48px;
}

.sliderContainer input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 27.2px;
}

.slider:before {
  background-color: #fff;
  bottom: 3.2px;
  content: "";
  height: 20.8px;
  left: 3.2px;
  position: absolute;
  transition: 0.4s;
  width: 20.8px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20.8px);
}
