#stats {
  padding: 1em;
  display: flex;
  gap: 5em;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.stat img {
  background-color: #c8b98e;
  border-radius: 0.3em;
  padding: 0.5em;
  box-shadow: 0 0 0.5em #696969;
  filter: invert(1);
}

.stat > div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.stat > div > span {
  font-size: 2em;
  font-weight: bold;
}

.stat > span {
  font-weight: bold;
}
