
.table {
  background-color: azure;
  
}

.tableHeader, .tableEntryData  {
  display: grid;
}

.table.two-columns .tableHeader,.table.two-columns .tableEntryData  {
  grid-template-columns: 1fr 1fr;
}
.table.three-columns .tableHeader,.table.three-columns .tableEntryData  {
  grid-template-columns: 1fr 1fr 1fr;
}
.table.four-columns .tableHeader,.table.four-columns .tableEntryData  {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tableEntryData {
  padding: 1em 0;
}

.primaryTableEntryData {
  display: flex;
}