.table {
  border-radius: 0.3em;
  box-shadow: #979797 0 0 0.5em 0px;
}

.tableEntry:nth-child(odd) .tableEntryData {
  background-color: lavender;
}

/* Header & Data */
.tableHeader,
.tableEntryData {
  display: grid;
  gap: 1em;
  min-width: max-content;
}

.two-columns {
  max-width: 40em;
}
.two-columns .tableHeader,
.two-columns .tableEntryData {
  grid-template-columns: 1fr 1fr;
}

.three-columns {
  max-width: 60em;
}
.three-columns .tableHeader,
.three-columns .tableEntryData {
  grid-template-columns: 1fr 1fr 1fr;
}

.four-columns {
  max-width: 80em;
}
.four-columns .tableHeader,
.four-columns .tableEntryData {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tableHeader {
  padding: 1em;
  background-color: #819ae3;
  border-radius: 0.3em 0.3em 0 0;
}

.tableEntryData {
  padding: 1em;
  cursor: pointer;
}
.tableEntryData:hover {
  box-shadow: inset 0.5em 0 #4d7273;
}

.tableEntries,
.tableEntry:last-child,
.tableEntry:last-child .tableEntryData,
.tableEntry:last-child .tableEntryDropdown {
  border-radius: 0 0 0.3em 0.3em;
}

.tableEntryData > * {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

/* Table Topper */
.tableTopper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tableTopper > span {
  font-style: italic;
  padding: 0.1em 0.5em;
  font-size: 1.6em;
  color: #afafaf;
}

.tableButton {
  box-shadow: #979797 0 0 0.5em 0px;
  padding: 0.5em 1em;
  background-color: lavender;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.tableButton:hover {
  background-color: #f2f4fd;
}

/* Table Dropdowns */
.tableEntryDropdown {
  padding: 1em;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: #cad8d1;
  box-shadow: inset 1em 0 #87aeaf;
}

.iconSpan {
  display: flex;
  align-items: center;
  gap: 0.3em;
  width: fit-content;
}

.tableEntryButton {
  background-color: #e6e6fa;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  padding-right: 1.3em;
  box-shadow: 0 0 0.5em #979797;
  justify-content: center;
  width: 6em;
  cursor: pointer;
}

.tableEntryButton:hover {
  background-color: #f2f4fd;
}

.tableEntryDropdownButtons {
  display: flex;
  gap: 1em;
}

.tableEntry.closed .tableEntryDropdown {
  display: none;
}

/* - Admin Schools - */
.schoolLoginInfo {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 1em;
}

/* Admin Events */
.eventParticipants {
  display: grid;
  align-items: center;
  gap: 1em;
  grid-template-columns: 1fr 2em;
}
