.table {
  border-radius: 0.3em;
  box-shadow: #979797 0 0 0.5em 0px;
}

.tableEntry .tableEntryData {
  background-color: #d5d9eb;
}

.tableEntry:nth-child(odd) .tableEntryData {
  background-color: lavender;
}

/* Header & Data */
.tableHeader,
.tableEntryData {
  display: grid;
  gap: 1em;
  min-width: max-content;
}

.two-columns {
  max-width: 40em;
}
.two-columns .tableHeader,
.two-columns .tableEntryData {
  grid-template-columns: 1fr 1fr;
}

.three-columns {
  max-width: 60em;
}
.three-columns .tableHeader,
.three-columns .tableEntryData {
  grid-template-columns: 1fr 1fr 1fr;
}

.four-columns {
  max-width: 80em;
}
.four-columns .tableHeader,
.four-columns .tableEntryData {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tableHeader {
  background-color: #374671;
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.5em 1em;
  color: #f8f8f8;
  font-weight: bold;
}

.tableEntryData {
  padding: 1em;
  cursor: pointer;
}
.tableEntryData:hover {
  box-shadow: inset 0.5em 0 #b6c2e5;
}

.tableEntries,
.tableEntry:last-child,
.tableEntry.closed:last-child .tableEntryData,
.tableEntry:last-child .tableEntryDropdown {
  border-radius: 0 0 0.3em 0.3em;
}

.tableEntryData > * {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

/* Table Topper */
.tableTopper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tableTopper > span {
  font-style: italic;
  padding: 0.1em 0.5em;
  font-size: 1.6em;
  color: #afafaf;
}

.tableButton {
  box-shadow: #979797 0 0 0.5em 0px;
  padding: 0.5em 1em;
  background-color: lavender;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.tableButton:hover {
  background-color: #f2f4fd;
}

/* Table Dropdowns */
.tableEntry {
  overflow: hidden;
  transition: all 0.5s;
  height: 62px;
}

.tableEntry.closed .tableEntryDropdown {
  opacity: 0;
}

.tableEntryDropdown {
  transition: all 0.8s;
  padding: 1.8em 1em 1.8em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: #f8f8f8;
  box-shadow: inset 0.3em 0 #b9bec6;
}

.iconSpan {
  display: flex;
  align-items: center;
  gap: 0.3em;
  width: fit-content;
}

.tableEntryButton {
  background-color: #e6e6fa;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  padding-right: 1.3em;
  box-shadow: 0 0 0.5em #979797;
  justify-content: center;
  width: 6em;
  cursor: pointer;
}

.tableEntryButton:hover {
  background-color: #f2f4fd;
}

.tableEntryDropdownButtons {
  display: flex;
  gap: 1em;
}

/* - Admin Schools - */
.schoolLoginInfo {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 1em;
}

/* Admin Events */
.eventParticipants {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.eventParticipants > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventParticipants > div:hover {
  text-decoration: underline;
}

.deleteParticipantButton {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 100%;
}

.deleteParticipantButton:hover {
  background-color: #e6e6fa;
  box-shadow: 0 0 0.5em #979797;
}

/* School Events */
.tableEntryHeader,
.tableEntryButtonContainer {
  padding: 1em;
}

.tableEntryButtonContainer {
  display: flex;
  justify-content: center;
}

.tableEntryHeader {
  background-color: #d82f2f;
  color: white;
  font-weight: bold;
}

.addTeamMemeberButton {
  display: flex;
  align-items: center;
}

.tableEntryButtonContainer:not(:last-child) {
  padding-bottom: 2em;
}
