.table {
  border-radius: 0.3em;
  /* box-shadow: #979797 0 0 0.5em 0px; */
  box-shadow: #6d5f8c 0 0 0.6em 0px;
  margin-bottom: 2.5em;
}

.tableEntry .tableEntryData {
  background-color: #d5d9eb;
}

.tableEntry:nth-child(odd) .tableEntryData {
  background-color: lavender;
}

/* Header & Data */
.tableHeader,
.tableEntryData {
  display: grid;
  gap: 1em;
  align-items: center;
}

.two-columns {
  max-width: 40em;
}
.two-columns .tableHeader,
.two-columns .tableEntryData {
  grid-template-columns: 2fr 1fr;
}

.three-columns {
  max-width: 60em;
}
.three-columns .tableHeader,
.three-columns .tableEntryData {
  grid-template-columns: 2fr 1fr 1fr;
}

.four-columns {
  max-width: 80em;
}
.four-columns .tableHeader,
.four-columns .tableEntryData {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.tableHeader {
  background-color: #374671;
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.5em 1em;
  color: #f8f8f8;
  font-weight: bold;
}

.tableEntryData {
  padding: 1em;
  cursor: pointer;
  height: 44px;
}
.tableEntryData:hover {
  box-shadow: inset 0.5em 0 #b6c2e5;
}

.tableEntries,
.tableEntry:last-child,
.tableEntry.closed:last-child .tableEntryData,
.tableEntry:last-child .tableEntryDropdown {
  border-radius: 0 0 0.3em 0.3em;
}

.tableEntryData > * {
  display: flex;
  align-items: center;
  gap: 0.3em;
  height: 2em;
}

/* Table Topper */
.tableTopper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tableTopper > span {
  font-style: italic;
  padding: 0.1em 0.5em;
  font-size: 1.6em;
  color: #afafaf;
}

.tableButton {
  box-shadow: #979797 0 0 0.5em 0px;
  padding: 0.5em 1em;
  background-color: lavender;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.tableButton:hover {
  background-color: #f2f4fd;
}

/* Table Dropdowns */
.tableEntry {
  overflow: hidden;
  transition: all 0.5s;
  height: 76px;
}

.tableEntry.closed .tableEntryDropdown {
  opacity: 0;
}

.tableEntryDropdown {
  transition: all 0.8s;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: #f8f8f8;
  box-shadow: inset 0 0 0.3em 0 #b9bec6;
  border-left: solid #b6c2e5 0.3em;
  /* border-left: solid #ada5be 0.3em; */
  /* border-right: solid #b6c2e5 0.3em; */
}

.iconSpan {
  display: flex;
  align-items: center;
  gap: 0.3em;
  width: fit-content;
}

.tableEntryButton {
  background-color: #e6e6fa;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  padding-right: 1.3em;
  box-shadow: 0 0 0.5em #979797;
  justify-content: center;
  width: 6em;
  cursor: pointer;
}

.tableEntryButton:hover {
  background-color: #f2f4fd;
}

.tableEntryDropdownButtons {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

/* - Admin Schools - */

.schoolLoginInfo {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 1em;
}

.loginInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.tableEntryButton.copyUserInfoButton {
  display: flex;
  padding: 0.5em;
  width: auto;
}

/* Admin Events */
#page .adminEventAgeGroupHeader {
  justify-content: start;
  gap: 0.3em;
  padding-left: 2em;
}
#page .adminEventAgeGroupHeader::after {
  color: #535353;
}

.eventParticipants {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.eventParticipants > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.eventParticipants > div:hover span.listNumber {
  font-weight: bold;
}

.participantIcon {
  display: grid;
  grid-template-columns: 1.8em 1fr 10em;
  width: -webkit-fill-available;
  align-items: center;
}

.deleteParticipantButton {
  position: absolute;
  right: 0;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.schoolEvents .deleteParticipantButton {
  position: relative;
}

.deleteParticipantButton:hover {
  background-color: #e6e6fa;
  box-shadow: 0 0 0.5em #979797;
}

.participantDisplay {
  height: 2.25em;
}
.participantDisplay:not(:hover) .deleteParticipantButton {
  display: none;
}

.faded {
  opacity: 0.5;
  padding-left: 0.2em;
}

/* Mobile Styles */
@media only screen and (min-height: 450px) {
  /* Small devices */
  @media (max-width: 750px) {
    #EventsTable .tableHeader,
    #EventsTable .tableEntryData {
      grid-template-columns: 2fr 1fr 1fr;
    }
    #EventsTable .tableHeader > span:nth-child(3),
    #EventsTable .tableEntryData > span:nth-child(3) {
      display: none;
    }
    #EventsTable .participantDisplay {
      height: fit-content;
      margin-bottom: 1.5em;
    }
    #EventsTable .participantDisplay:last-child {
      margin-bottom: 0;
    }
    #EventsTable .participantIcon {
      grid-template-columns: 1.8em 1fr;
    }
    #EventsTable .participantIcon > div:last-child {
      grid-column: span 2;
      padding: 0.5em 0 0 1.8em;
    }
  }
}

/* School Students */
.eventListEntry {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.tableEntryHeader.ageGroupTableHeader {
  display: flex;
  gap: 0.3em;
  padding: 0.5em;
  padding-left: 5em;
}

/* School Events */
.tableEntryHeader,
.tableEntryButtonContainer {
  padding: 1em;
}

.tableEntryButtonContainer {
  display: flex;
  justify-content: center;
}

.tableEntryHeader {
  background-color: #4c6b5a;
  color: #f8f8f8;
  font-weight: bold;
  border-top: 0.5em solid #2e4136;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1em;
}

.tableEntryHeader.Corderitos {
  background-color: #4c4e6b;
  border-top: 0.5em solid #37384d;
}
.tableEntryHeader.Ovejitas {
  background-color: #6b4c6a;
  border-top: 0.5em solid #4b354a;
}
.tableEntryHeader.Ovejas {
  background-color: #4c6b5a;
  border-top: 0.5em solid #2e4136;
}
.tableEntryHeader.Mixtas {
  background-color: #6b4c4c;
  border-top: 0.5em solid #4a3434;
}
.Corderitos:not(.schoolEventTable)::after {
  content: "(6-7)";
}
.Ovejitas:not(.schoolEventTable)::after {
  content: "(8-10)";
}
.Ovejas:not(.schoolEventTable)::after {
  content: "(11-12)";
}

.Corderitos.schoolEventTable > div:last-child::after {
  content: "(6-7)";
  padding-left: 0.3em;
  white-space: pre;
}
.Ovejitas.schoolEventTable > div:last-child::after {
  content: "(8-10)";
  padding-left: 0.3em;
  white-space: pre;
}
.Ovejas.schoolEventTable > div:last-child::after {
  content: "(11-12)";
  padding-left: 0.3em;
  white-space: pre;
}

.addTeamMemeberButton {
  display: flex;
  align-items: center;
}

.tableEntryButtonContainer:not(:last-child) {
  padding-bottom: 2em;
}

.eventCategoryHeader {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  max-width: 20em;
  margin: 0.5em 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

#tables.schoolEvents .tableEntryData {
  position: relative;
  cursor: default;
}

.tableEntryData:hover .deleteParticipantContainer {
  display: flex;
}
.deleteParticipantContainer {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 76px;
  padding-right: 1em;
}

.schoolEvents .tableTopper > span {
  color: #565656;
}

@media only screen and (max-height: 450px) {
  :root #participantsConatiner {
    max-height: 10em;
  }
  :root #eventsListConatiner {
    max-height: 17em;
  }
}
